<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication1.Properties.Settings.nwindConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;c:\Program Files (x86)\DevExpress 2009.3\Components\Demos\Data\nwind.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>