<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication1.Properties.Settings.nwindConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;c:\Program Files (x86)\DevExpress 2009.3\Components\Demos\Data\nwind.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="nwind.mdb" connectionString="xpoprovider=MSAccess;provider=Microsoft.Jet.OLEDB.4.0;data source=|DataDirectory|\nwind.mdb;persist security info=True" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
